torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
torchio==0.21.0
focal_loss_torch
timm==1.0.9
numpy
pandas
matplotlib
seaborn
scikit-learn
einops
Pillow
tqdm
scipy
ipykernel
jupyter
gdown